.App {
  text-align: center;
  font-size: 1 rem;
}
.layout{
  margin-left: 15%;
  margin-top: 5%;
}

:root{
  --header-color:#1d4f85;
}

.header{
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerContent{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: white;
}

.primaryBtn {
  color: #fff !important;
  background-color: var(--header-color) !important;
  border-color: black !important;
  font-weight: bold !important;
}

.primaryBtn:hover {
  color: black !important;
  background-color: #578ac1 !important;
  border-color: black !important;
  font-weight: bold !important;
}